.products-body {
    margin: 32px;
}

.no-data {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 80vh !important;
  }

  .title-text{
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 32px;
  }

  .parent{
      font-weight: 400;
      color: coral;
  }

  .child{
      color: coral;
      font-weight: 700;
  }
  .col-item {
    background-color: brown;
    padding: 16px;
    border-radius: 16px;
    width: fit-content;
    margin: 8px;
  }
  .no-variants{
    margin-left: 15%;
  }
 