
<div class="products-body">
  <!--If server is loading show spinner-->
  <div class="no-data" *ngIf="dataSource.data.length === 0 || isLoading;else other_content">
    <div class="spinner-border text-danger float-end" style="margin-left: 16px;" role="status" *ngIf="isLoading">
      <span class="sr-only"></span>
    </div>
    <!--If no products show an image with message No Products-->
    <div *ngIf="!isLoading">
      <img
      alt="no-data-projects"
      src="assets/images/no-data.png"
      />
      <h5>No Products</h5>
    </div>
  </div>
  <!--If data loaded successfully show products-->
  <ng-template #other_content>
  <div class="row">
      <div class="col">
        
          <label class="title-text">Products</label>
          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
              <button mat-icon-button disabled></button>
              <mat-checkbox class="checklist-leaf-node"
                            [checked]="checklistSelection.isSelected(node)"
                            (change)="todoLeafItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
            </mat-tree-node>
          
            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.item">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <mat-checkbox [checked]="descendantsAllSelected(node)"
                            [indeterminate]="descendantsPartiallySelected(node)"
                            (change)="todoItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
            </mat-tree-node>
          </mat-tree>
      </div>
      <div class="col">
        <label class="title-text">Selected Variants</label>
        <div *ngFor="let item of this.checklistSelection.selected">
          <div class="col-item" *ngIf="item.expandable === false">
            <label class="parent"> {{getParentNode(item)}}</label>&ngsp;
            <label class="child"> {{item.item}} </label>
          </div>
        </div>
      </div>
  </div>
</ng-template>
 


