.user-image{
    border-radius: 50%;
    width: 60px;
}

.row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    min-height: 40px;
    margin: 8px;
  }
  .col{
      
      text-align: end;
  }

  h6{
      font-weight: 350;
  }